[Desktop Entry]
Name=LinConnect
Comment=LinConnect Server
Icon=~/.linconnect/LinConnectServer/icon.png
Exec=/home/will/.linconnect/LinConnectServer/update.sh
Terminal=false
Type=Application
